//
// Variables
//
// @package     WPDTRT_Forms
// @version 	0.0.1
// @since       0.7.10
//

// front-end dependencies are specified in
// ./vendor/dotherightthing/wpdtrt-plugin/package.json
// but installed to ./node_modules, via Yarn workspaces
@import "node_modules/include-media/dist/_include-media";

// -------------------------------------------------------------------
// Breakpoints
// -------------------------------------------------------------------

// $breakpoints for include-media
// Usage: @include media(">phone", "<=tablet") { ... }
// Usage: @include media("<=1150px") { ... }
// See https://include-media.com/

$breakpoints: (
    phone: 320px,
    phone_large: 400px,
    tablet_small: 550px,
    tablet: 710px,
    desktop: 910px
);

// -------------------------------------------------------------------
// Colors
// http://hex2rgba.devoth.com/
// -------------------------------------------------------------------

$wpdtrt-forms-bg-color--demo: transparent;
