//
// File: scss/frontend.scss
//
// Styles for the public front-end.
//
// Since:
//   0.9.1 - DTRT WordPress Plugin Boilerplate Generator
//

// -------------------------------------------------------------------
// Variables
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/variables/scss';
@import 'variables/scss';

// -------------------------------------------------------------------
// Mixins
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/mixins';

// -------------------------------------------------------------------
// Extends
// -------------------------------------------------------------------

@import '../node_modules/wpdtrt-scss/scss/extends';

%wpdtrt-forms {
    &-block {
        box-sizing: border-box;
        padding: .3em;
        border: 1px solid var(--wpdtrt-forms-border-color);
    }

    &-block-error {
        background-color: var(--wpdtrt-forms-error-bgcolor);
        border-color: var(--wpdtrt-forms-error-color);
    }
}

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

// @import '../icons/icomoon/style.scss';
@import '../node_modules/wpdtrt-scss/scss/_frontend';

// Custom forms

.wpdtrt-forms {
    &__button {
        background-color: var(--wpdtrt-forms-button-bgcolor);
        color: var(--wpdtrt-forms-button-color);
        font-size: .7em;
        line-height: normal;
        font-weight: bold;
        text-transform: uppercase;
        padding: 12px;
        border: 0;
        margin: 0;
        cursor: pointer;
    }

    &__error {
        color: var(--wpdtrt-forms-error-color);
        font-weight: normal;
        border-color: var(--wpdtrt-forms-error-color);
    }

    &__error-list {
        @extend %wpdtrt-scss-reset-list;
        font-size: .9em;
        counter-reset: error-counter;
        margin-top: .5em;

        > li {
            @extend %wpdtrt-scss-reset-list;
            counter-increment: error-counter;

            &::before {
                content: counter(error-counter) '.';
                color: var(--wpdtrt-forms-error-list-bullet-color);
            }
        }

        a {
            color: var(--wpdtrt-forms-error-list-link-color);
        }
    }

    &__fieldset {
        @extend %wpdtrt-scss-reset-fieldset;
    }

    &__hint {
        display: block;
        font-size: .7em;
        line-height: 1.25;
        font-style: normal;
        margin-top: 8px;
    }

    &__intro {
        font-size: .9em;
    }

    &__item {
        // label and input
        margin-bottom: 32px;

        > * {
            width: 100%;
        }

        > input[type='text'],
        > textarea {
            // @extend %wpdtrt-forms-block;

            &[aria-invalid='true'] {
                @extend %wpdtrt-forms-block-error;
            }
        }

        > input[type='checkbox'] {
            float: left;
            width: auto;
            margin-top: 3px;

            + &__label {
                width: auto;
                margin-left: 24px;
            }
        }
    }

    &__label {
        display: block;
        font-size: .85em;
        line-height: 1.25;
        margin-bottom: 10px;

        &--required {
            &::after {
                content: ' *';
                color: var(--wpdtrt-forms-error-color);
            }
        }

        &.error {
            > .required {
                @extend .wpdtrt-forms__error;
            }
        }
    }

    &__select {
        font-size: .9em;
    }

    &__status {
        background-color: var(--wpdtrt-forms-status-bgcolor);
        color: var(--wpdtrt-forms-status-color);
        margin-bottom: 1em;

        p {
            padding-top: 0;
        }
    }

    &__textfield {
        display: block;
        width: 100%;
        background-color: var(--wpdtrt-forms-textfield-bgcolor);
        font-size: .9em;
        line-height: normal;
        padding: 8px;
        border: 1px solid var(--wpdtrt-forms-textfield-bordercolor);

        &:focus {
            background-color: var(--wpdtrt-forms-textfield-bgcolor-focus);
        }

        &.error {
            @extend .wpdtrt-forms__error;
        }
    }

    &__textfield-sizes {
        &.large-text {
            width: 85%;
        }

        &.regular-text {
            width: 350px;
        }

        &.small-text {
            width: 50px;
        }

        &.tiny-text {
            width: 35px;
        }
    }

    &__validation {
        @extend .wpdtrt-forms__hint;

        strong {
            font-weight: normal;
        }

        > .error {
            @extend .wpdtrt-forms__error;
        }
    }
}

// WordPress forms

// button element is handled per project via custom selector

input {
    &[id] { // override noramlize
        &[type='button'],
        &[type='reset'],
        &[type='submit'] {
            &,
            &[disabled] {
                @extend .wpdtrt-forms__button;

                &:hover,
                &:focus {
                    @extend .wpdtrt-forms__button;
                }
            }
        }

        &[type='date'],
        &[type='datetime-local'],
        &[type='email'],
        &[type='month'],
        &[type='number'],
        &[type='password'],
        &[type='search'],
        &[type='tel'],
        &[type='text'],
        &[type='time'],
        &[type='url'],
        &[type='week'] {
            @extend .wpdtrt-forms__textfield;
        }
    }
}

textarea {
    &[id] { // override noramlize
        @extend .wpdtrt-forms__textfield;
    }
}

.comment-form {
    label {
        @extend .wpdtrt-forms__label;
    }

    .validation {
        @extend .wpdtrt-forms__validation;
    }

    > p {
        .entry-content & {
            @extend .wpdtrt-forms__item;
        }
    }
}

.comment-notes {
    @extend .wpdtrt-forms__intro;
}
