//
// File: scss/frontend.scss
//
// Styles for the public front-end.
//
// Since:
//   0.9.1 - DTRT WordPress Plugin Boilerplate Generator
//

// -------------------------------------------------------------------
// Imports
// -------------------------------------------------------------------

// Import wpdtrt-scss library helpers
@use '../node_modules/wpdtrt-scss/scss' as wpdtrt-scss;

// Import `include media` library (including default `$breakpoint` map)
@use '../node_modules/include-media/dist/include-media' as *;

// Import local variables
@use 'variables/scss' as *;

// Import other libraries
@use '../icons/icomoon/style.scss' as icomoon;

// Extend default `$breakpoint` map from library variables
$breakpoints: map-merge($breakpoints, wpdtrt-scss.$breakpoints);

// Extend default `$breakpoint` map from local variables (optional)
// $breakpoints: map-merge($breakpoints, $local-breakpoints);

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

// Custom forms

.wpdtrt-form {
    $block: &;

    &__block {
        box-sizing: border-box;
        padding: .3em;
        border: 1px solid var(--wpdtrt-form-border-color);
    }

    &__block-error {
        background-color: var(--wpdtrt-form-error-bgcolor);
        border-color: var(--wpdtrt-form-error-color);
    }

    &__button {
        background-color: var(--wpdtrt-form-button-bgcolor);
        color: var(--wpdtrt-form-button-color);
        font-size: .7em;
        line-height: normal;
        font-weight: bold;
        text-transform: uppercase;
        padding: 12px;
        border: 0;
        margin: 0;
        cursor: pointer;
    }

    &__checkbox {
        float: left;
        width: auto;
        border-radius: 0;
        margin-top: 3px;
        margin-right: .4em;
        margin-left: .1em;
        transform: scale(1.5);

        + #{$block}__label {
            width: auto;
            margin-left: 24px;
        }
    }

    &__debug {
        background-color: var(--wpdtrt-form-debug-color);
        padding: 4px;
    }

    &__error {
        color: var(--wpdtrt-form-error-color);
        font-weight: normal;
        border-color: var(--wpdtrt-form-error-color);
    }

    &__errors-list {
        @extend %wpdtrt-scss-reset-list;
        font-size: 1.1em;
        counter-reset: error-counter;
        margin-top: .5em;

        > li {
            @extend %wpdtrt-scss-reset-list;
            position: relative;
            counter-increment: error-counter;
            padding-left: 1.7em;
            margin-bottom: .25em;

            &::before {
                content: '#' counter(error-counter);
                position: absolute;
                left: .1em;
                font-family: monospace;
                font-size: 1.05em;
                line-height: 1.3;
            }

            .entry-content & {
                margin-left: 0;
            }
        }
    }

    &__fieldset {
        @extend %wpdtrt-scss-reset-fieldset;
    }

    &__hint {
        display: block;
        font-size: .7em;
        line-height: 1.25;
        font-style: normal;
        margin-top: 8px;
    }

    &__item {
        // label and input
        margin-bottom: 32px;
    }

    &__label {
        display: block;
        font-size: .85em;
        line-height: 1.25;
        margin-bottom: 10px;

        &--required {
            &::after {
                content: ' *';
            }

            &.error {
                &::after {
                    color: var(--wpdtrt-form-error-color);
                }
            }
        }

        &.error {
            > .required {
                @extend .wpdtrt-form__error;
            }
        }
    }

    &__legend {
        width: 100%;
        font-size: 1.1em;
        font-weight: bold;
    }

    &__notes {
        font-size: .9em;
        line-height: 1.5;

        &,
        .entry-content & {
            margin-top: 8px;
        }
    }

    &__required {
        @extend %wpdtrt-scss-hide-visually;
    }

    &__select {
        font-size: .9em;
    }

    &__status {
        font-size: .8em;
        line-height: 1.5;
        margin-bottom: 16px;

        > p,
        .entry-content .entry-summary + & {
            font-size: inherit;
        }
    }

    &__submit-wrapper {
        text-align: right;
    }

    &__submit {
        margin: 0;
    }

    &__textfield {
        display: block;
        width: 100%;
        background-color: var(--wpdtrt-form-textfield-bgcolor);
        font-size: .8em;
        line-height: normal;
        padding: 8px;
        border: 1px solid var(--wpdtrt-form-textfield-bordercolor);

        &:focus {
            background-color: var(--wpdtrt-form-textfield-bgcolor-focus);
        }

        &.error {
            @extend .wpdtrt-form__error;
        }

        &[aria-invalid='true'] {
            @extend .wpdtrt-form__block-error;
        }
    }

    &__textfield-sizes {
        &.large-text {
            width: 85%;
        }

        &.regular-text {
            width: 350px;
        }

        &.small-text {
            width: 50px;
        }

        &.tiny-text {
            width: 35px;
        }
    }

    &__validation {
        @extend .wpdtrt-form__hint;

        strong {
            font-weight: normal;
        }

        > .error {
            @extend .wpdtrt-form__error;
        }
    }
}

// WordPress forms

// button element is handled per project via custom selector

input {
    &[id] { // override noramlize
        &[type='button'],
        &[type='reset'],
        &[type='submit'] {
            &,
            &[disabled] {
                @extend .wpdtrt-form__button;

                &:hover,
                &:focus {
                    @extend .wpdtrt-form__button;
                }
            }
        }

        &[type='date'],
        &[type='datetime-local'],
        &[type='email'],
        &[type='month'],
        &[type='number'],
        &[type='password'],
        &[type='search'],
        &[type='tel'],
        &[type='text'],
        &[type='time'],
        &[type='url'],
        &[type='week'] {
            @extend .wpdtrt-form__textfield;
        }

        &[type='checkbox'] {
            @extend .wpdtrt-form__checkbox;
        }
    }
}

textarea {
    &[id] { // override noramlize
        @extend .wpdtrt-form__textfield;
    }
}

.comment-form {
    .form-submit {
        @extend .wpdtrt-form__submit-wrapper;
    }

    label {
        @extend .wpdtrt-form__label;
    }

    .validation {
        @extend .wpdtrt-form__validation;
    }

    > p {
        .entry-content & {
            @extend .wpdtrt-form__item;
        }
    }
}

.comment-notes {
    @extend .wpdtrt-form__notes;

    .entry-content .entry-summary + & {
        @extend .wpdtrt-form__notes;
        margin-top: 20px;
    }

    .entry-content & {
        margin-bottom: 32px;
    }
}
