//
// File: scss/variables/_css.scss
//
// Since:
//   0.9.1 - DTRT WordPress Plugin Boilerplate Generator
//
// Colours are specified in hsla values:
// - Hue: 0 - 360 on a colour wheel (e.g. http://hslpicker.com/)
// - Saturation: 0 (grayscale) - 100 (full colour)
// - Lightness: 0% (black), 50% (average), 100% (completely light)
// - Alpha
//

:root {
    --wpdtrt-forms-demo-bgcolor: transparent;
    --wpdtrt-forms-border-color: hsla(0, 0%, 60%, 1);
    --wpdtrt-forms-error-color: hsla(0, 100%, 41%, 1);
    --wpdtrt-forms-error-bgcolor: hsla(0, 100%, 93%, 1);
    --wpdtrt-forms-error-inline-color: hsla(0, 0%, 0%, 1);
    --wpdtrt-forms-error-list-bullet-color: hsla(0, 0%, 60%, 1);
    --wpdtrt-forms-error-list-link-color: hsla(0, 0%, 100%, 1);
    --wpdtrt-forms-status-color: hsla(0, 0%, 100%, 1);
    --wpdtrt-forms-submit-bgcolor: hsla(0, 0%, 27%, 1);
    --wpdtrt-forms-submit-color: hsla(0, 0%, 80%, 1);
}
