//
// File: scss/variables/_css.scss
//
// Since:
//   0.9.1 - DTRT WordPress Plugin Boilerplate Generator
//
// Colours are specified in hsla values:
// - Hue: 0 - 360 on a colour wheel (e.g. http://hslpicker.com/)
// - Saturation: 0 (grayscale) - 100 (full colour)
// - Lightness: 0% (black), 50% (average), 100% (completely light)
// - Alpha
//

:root {
    --wpdtrt-form-button-bgcolor: hsla(0, 0%, 10%, 1);
    --wpdtrt-form-button-color: hsla(0, 0%, 100%, 1);
    --wpdtrt-form-demo-bgcolor: transparent;
    --wpdtrt-form-border-color: hsla(0, 0%, 60%, 1);
    --wpdtrt-form-debug-color: hsla(48, 100%, 50%, .5);
    --wpdtrt-form-error-color: hsla(0, 100%, 34%, 1);
    --wpdtrt-form-error-bgcolor: hsla(0, 100%, 98%, 1);
    --wpdtrt-form-error-inline-color: hsla(0, 0%, 0%, 1);
    --wpdtrt-form-submit-bgcolor: hsla(0, 0%, 27%, 1);
    --wpdtrt-form-submit-color: hsla(0, 0%, 80%, 1);
    --wpdtrt-form-textfield-bgcolor: hsla(0, 0%, 97%, 1);
    --wpdtrt-form-textfield-bgcolor-focus: hsla(0, 0%, 100%, 1);
    --wpdtrt-form-textfield-bordercolor: hsla(0, 0%, 82%, 1);
}
